body{
background: hsl(30, 38%, 92%);
color:white;
}

button{
 background: darkcyan;
}

.container{
 width:1440px;
 border-radius: 10px;
 margin: 100px;
 background-color: hsl(0, 0%, 100%);
 color: black;
}

.attribution {
 font-size: 11px;
 text-align: center;
}

.attribution {
 color: hsl(228, 45%, 44%);
}

